Repository hyperledger/fabric-docs-i18n, pull requests merged in 2020-12, with the labels that each got.

#267 [ja-JP]Translate write_first_app.rst into Japanese
  docs/locale/ja_JP/source/write_first_app.rst
Labels: jaJP-docs-ongoing

#287 [zh_CN]Translate【Release-2.2】Tutorials » Using CouchDB #38
  docs/locale/zh_CN/source/couchdb_tutorial.rst
Labels: zhCN-docs-ongoing

#289 [ja-JP]Translated create_channel_overview.rst into Japanese
  docs/locale/ja_JP/source/create_channel/create_channel_overview.rst
Labels: jaJP-docs-ongoing

#291 [zh_CN]Cc lancher translation
  docs/locale/zh_CN/source/cc_launcher.md
Labels: zhCN-docs-ongoing

#293 Update fabric_model.rst
  docs/locale/ru_RU/source/fabric_model.rst
Labels: ru-docs-ongoing

#294 RU-translation capabilities_concept
  docs/locale/ru_RU/source/capabilities_concept.md
Labels: ru-docs-ongoing

#290 [ja_JP] Translate "developapps/contractname.md"
  docs/locale/ja_JP/source/developapps/contractname.md
Labels: jaJP-docs-ongoing

#323 [ja_JP] Translate developapps/designelements.rst
  docs/locale/ja_JP/source/developapps/designelements.rst
Labels: jaJP-docs-ongoing

#324 [ja_JP] Translate developapps/chaincodenamespace
  docs/locale/ja_JP/source/developapps/chaincodenamespace.md
Labels: jaJP-docs-ongoing
