Repository hyperledger/fabric-docs-i18n, pull requests merged in 2020-08, with the labels that each got.

#30 Architecture Reference topic translated. (Hyperledger Fabric CA doc not yet)
  docs/locale/pt_BR/source/architecture.rst
  docs/locale/pt_BR/source/capability_requirements.rst
  docs/locale/pt_BR/source/channels.rst
  docs/locale/pt_BR/source/couchdb_as_state_database.rst
  docs/locale/pt_BR/source/discovery-overview.rst
  docs/locale/pt_BR/source/fabric-sdks.rst
  docs/locale/pt_BR/source/gossip.rst
Labels: documentation

#68 [ja_JP] Translate "Creating a new translation"
  docs/locale/ja_JP/source/international_languages.md
Labels: jaJP-docs-ongoing

#63 [ja_JP] update index.rst
  docs/locale/ja_JP/source/index.rst
Labels: jaJP-docs-ongoing

#62 [ja_JP] translate glossary.rst into Japanese
  docs/locale/ja_JP/source/glossary.rst
Labels: jaJP-docs-ongoing

#67 [ja_JP] Translate style_guide.md into Japanese (#51)
  docs/locale/ja_JP/source/style_guide.md
Labels: jaJP-docs-ongoing

#79 [ja-JP]Translate getting_started.rst into Japanese by nishishita-satoshi
  docs/locale/ja_JP/source/getting_started.rst
Labels: jaJP-docs-ongoing

#97 [es] Translate Introduction Page
  docs/locale/es/source/whatis.md
Labels: doc-merge

#84 [ja_JP] Translate policies.md into Japanese
  docs/locale/ja_JP/source/policies/policies.md
Labels: jaJP-docs-ongoing

#96 [ja_JP] Translate "Introduction"
  docs/locale/ja_JP/source/whatis.md
Labels: jaJP-docs-ongoing

#91 [ALL] support in .gitignore for tox build using _build folder
  .gitignore
Labels: enhancement

#90 [es] Adds azure-pipeline job for building spanish translation
  ci/azure-pipelines.yml
Labels: enhancement

#111 [ja_JP] Translate source/msp.rst into Japanese
  docs/locale/ja_JP/source/msp.rst
Labels: jaJP-docs-ongoing
