Repository hyperledger/fabric-docs-i18n, pull requests merged in 2020-11, with the labels that each got.

#252 [ja_JP] Translate "Smart Contract Processing"
  docs/locale/ja_JP/source/developapps/smartcontract.md
Labels: jaJP-docs-ongoing

#263 Update policies.md
  docs/locale/zh_CN/source/policies/policies.md
Labels: doc-merge

#271 [zh_CN]release-2.2 chaincode_lifecycle
  docs/locale/zh_CN/source/chaincode_lifecycle.md
Labels: zhCN-docs-ongoing

#276 [zh_CN]Update peers.md
  docs/locale/zh_CN/source/peers/peers.md
Labels: zhCN-docs-ongoing

#273 [zh_CN]Update zh_CN
  docs/locale/zh_CN/source/blockchain.rst
  docs/locale/zh_CN/source/whatis.md
Labels: zhCN-docs-ongoing

#274 [ja_JP] Tutorials >> Deploying a smart contract
  docs/locale/ja_JP/source/deploy_chaincode.md
Labels: jaJP-docs-ongoing

#280 [ja_JP] Developing Applications >> Application
  docs/locale/ja_JP/source/developapps/application.md
Labels: jaJP-docs-ongoing

#279 [ja_JP] Translate source/developapps/connectionprofile.md into Japanese
  docs/locale/ja_JP/source/developapps/connectionprofile.md
Labels: jaJP-docs-ongoing

#282 [zh_CN]Deployment guide overview
  docs/locale/zh_CN/source/deployment_guide_overview.rst
Labels: zhCN-docs-ongoing
