Repository hyperledger/fabric-docs-i18n, pull requests merged in 2020-09, with the labels that each got.

#72 [ja_JP]Translate "advice_for_writers.md" into japanese (#48)
  docs/locale/ja_JP/source/advice_for_writers.md
Labels: jaJP-docs-ongoing

#130 [es] Adding Contributions Spanish translation page.
  docs/locale/es/source/CONTRIBUTING.rst
Labels: doc-merge, es-docs-ongoing

#71 [cn] Release 2.2_translate channel_update_tutorial.rst to cn
  docs/locale/zh_CN/source/channel_update_tutorial.rst
Labels: doc-merge

#138 [es] Add translation for Glossary
  docs/locale/es/source/glossary.rst
Labels: doc-merge

#131 [ja_JP] Translate "identity.md" into Japanese
  docs/locale/ja_JP/source/identity/identity.md
Labels: jaJP-docs-ongoing

#141 [ja_JP] Key Concepts >> Blockchain network
  docs/locale/ja_JP/source/network/network.md
Labels: jaJP-docs-ongoing

#178 [ja_JP] Translate source/chaincode_lifecycle.md into Japanese
  docs/locale/ja_JP/source/chaincode_lifecycle.md
Labels: jaJP-docs-ongoing

#132 [ja_JP] Key Concepts >> Introduction
  docs/locale/ja_JP/source/blockchain.rst
Labels: jaJP-docs-ongoing

#183 [ja_JP] Translate source/operations_service.rst into Japanese
  docs/locale/ja_JP/source/operations_service.rst
Labels: jaJP-docs-ongoing

#187 [es] renamed 'servicio de pedidos' as 'servicio de ordenamiento'
  docs/locale/es/source/glossary.rst
Labels: doc-merge, es-docs-ongoing

#191 Applied fixes on "whatis.md"
  docs/locale/es/source/whatis.md
Labels: doc-merge, es-docs-ongoing

#192 [es] Fixed warnings about docs-lang-es generation into glossary.rst
  docs/locale/es/source/glossary.rst
Labels: doc-merge, es-docs-ongoing

#190 [ja_JP] Key Concepts >> Hyperledger Fabric Model
  docs/locale/ja_JP/source/fabric_model.rst
Labels: jaJP-docs-ongoing

#195 Translate index.rst
  docs/locale/zh_CN/source/index.rst
  docs/locale/zh_CN/source/install.rst
Labels: zhCN-docs-ongoing

#193 [zh_cn]Update test_network.md
  docs/locale/zh_CN/source/fabric_model.rst
  docs/locale/zh_CN/source/network/network.md
  docs/locale/zh_CN/source/prereqs.rst
  docs/locale/zh_CN/source/test_network.md
Labels: zhCN-docs-ongoing

#189 [ja_JP] Translate "Smart Contracts and Chaincode"
  docs/locale/ja_JP/source/smartcontract/smartcontract.md
Labels: jaJP-docs-ongoing

#188 [ja_JP]Translate "CONTRIBUTING.rst" into japanese(#47)
  docs/locale/ja_JP/source/CONTRIBUTING.rst
Labels: jaJP-docs-ongoing

#229 [ja_JP] Translate source/prereqs.rst into Japanese
  docs/locale/ja_JP/source/prereqs.rst
Labels: jaJP-docs-ongoing
