Repository hyperledger/fabric-docs-i18n, pull requests merged in 2021-02, with the labels that each got.

#344 [ja_JP] Translate source/dev-setup/build.rst into Japanese
  docs/locale/ja_JP/source/dev-setup/build.rst
Labels: jaJP-docs-ongoing

#345 [ja_JP] Fix the minor format difference from the original doc
  docs/locale/ja_JP/source/write_first_app.rst
Labels: jaJP-docs-ongoing

#349 [ja_JP] Translate source/style-guides/go-style.rst into Japanese
  docs/locale/ja_JP/source/style-guides/go-style.rst
Labels: jaJP-docs-ongoing

#297 RU translation MSP
  docs/locale/ru_RU/source/membership/membership.md
Labels: ru-docs-ongoing

#361 [zh_CN]update who_we_are
  docs/locale/zh_CN/source/whatis.md
  docs/locale/zh_CN/source/who_we_are.md
Labels: zhCN-docs-ongoing

#364 [zh_CN]fix whatis.md; update whatsnew.rst to v2.2.2.
  docs/locale/zh_CN/source/whatis.md
  docs/locale/zh_CN/source/whatsnew.rst
Labels: zhCN-docs-ongoing

#368 [zh_CN]update blockchain.rst to v2.2.2
  docs/locale/zh_CN/source/blockchain.rst
Labels: zhCN-docs-ongoing
