Repository hyperledger/fabric-docs-i18n, pull requests merged in 2021-03, with the labels that each got.

#370 [ja_JP] Translate "developapps/connectionoptions"
  docs/locale/ja_JP/source/developapps/connectionoptions.md
Labels: jaJP-docs-ongoing

#265 [es]Changes whatsnew first paragraph
  docs/locale/es/source/whatsnew.rst
Labels: es-docs-ongoing

#296 RU translation of ledger
  docs/locale/ru_RU/source/ledger.rst
Labels: ru-docs-ongoing

#295 RU translation of deployment guide overview
  docs/locale/ru_RU/source/deployment_guide_overview.rst
Labels: ru-docs-ongoing

#80 [ru] Add full russian translation of Key Concepts, Operations Guides and Glossary
  docs/locale/ru_RU/README.md
  docs/locale/ru_RU/source/access_control.md
  docs/locale/ru_RU/source/blockchain.rst
  docs/locale/ru_RU/source/capabilities_concept.md
  docs/locale/ru_RU/source/cc_launcher.md
  docs/locale/ru_RU/source/cc_service.md
  docs/locale/ru_RU/source/configtx.rst
  docs/locale/ru_RU/source/deployment_guide_overview.rst
  docs/locale/ru_RU/source/enable_tls.rst
  docs/locale/ru_RU/source/endorsement-policies.rst
  docs/locale/ru_RU/source/error-handling.rst
  docs/locale/ru_RU/source/fabric_model.rst
  docs/locale/ru_RU/source/glossary.rst
  docs/locale/ru_RU/source/hsm.md
  docs/locale/ru_RU/source/idemix.rst
  docs/locale/ru_RU/source/idemixgen.rst
  docs/locale/ru_RU/source/index.rst
  docs/locale/ru_RU/source/kafka.rst
  docs/locale/ru_RU/source/kafka_raft_migration.md
  docs/locale/ru_RU/source/key_concepts.rst
  docs/locale/ru_RU/source/ledger.rst
  docs/locale/ru_RU/source/ledger/ledger.md
  docs/locale/ru_RU/source/logging-control.rst
  docs/locale/ru_RU/source/membership/membership.md
  docs/locale/ru_RU/source/metrics_reference.rst
  docs/locale/ru_RU/source/msp.rst
  docs/locale/ru_RU/source/network/network.md
  docs/locale/ru_RU/source/operations_service.rst
  docs/locale/ru_RU/source/ops_guide.rst
  docs/locale/ru_RU/source/orderer/ordering_service.md
  docs/locale/ru_RU/source/pluggable_endorsement_and_validation.rst
  docs/locale/ru_RU/source/policies/policies.md
  docs/locale/ru_RU/source/private-data/private-data.md
  docs/locale/ru_RU/source/raft_configuration.md
  docs/locale/ru_RU/source/smartcontract/smartcontract.md
  docs/locale/ru_RU/source/usecases.rst
  docs/locale/ru_RU/source/whatis.md
Labels: ru-docs-ongoing

#235 [es] Prerequisites Translation
  docs/locale/es/source/prereqs.rst
  docs/locale/es/source/tutorials.rst
  docs/locale/es/source/whatsnew.rst
Labels: doc-merge, es-docs-ongoing

#392 [zh_CN] translate docs\locale\zh_CN\source\msp.rst hyperledger#303
  docs/locale/zh_CN/source/msp.rst
Labels: zhCN-docs-ongoing

#396 [ja_JP] Improve translation of “channels.rst”
  docs/locale/ja_JP/source/channels.rst
Labels: jaJP-docs-ongoing
