Repository hyperledger/fabric-docs-i18n, pull requests merged in 2021-01, with the labels that each got.

#326 [zh_CN]Private data arch.rst
  docs/locale/zh_CN/source/private-data-arch.rst
Labels: zhCN-docs-ongoing

#327 [ja_JP] Tutorials >> Commercial paper tutorial
  docs/locale/ja_JP/source/tutorial/commercial_paper.md
Labels: jaJP-docs-ongoing

#330 [zh_CN]Translate docs_guide.md
  docs/locale/zh_CN/source/docs_guide.md
Labels: zhCN-docs-ongoing

#334 [zh_CN]Translate international_languages.md
  docs/locale/zh_CN/source/international_languages.md
Labels: zhCN-docs-ongoing

#331 [zh_CN]Translate couchdb_as_tate_database
  docs/locale/zh_CN/source/couchdb_as_state_database.rst
Labels: zhCN-docs-ongoing

#336 [ja_JP] Translate "developapps/transactioncontext.md"
  docs/locale/ja_JP/source/developapps/transactioncontext.md
Labels: jaJP-docs-ongoing

#286 [RU] translation of Peers section
  docs/locale/ru_RU/source/peers/peers.diagram.1.png
  docs/locale/ru_RU/source/peers/peers.diagram.10.png
  docs/locale/ru_RU/source/peers/peers.diagram.12.png
  docs/locale/ru_RU/source/peers/peers.diagram.5.png
  docs/locale/ru_RU/source/peers/peers.diagram.6.png
  docs/locale/ru_RU/source/peers/peers.diagram.8.png
  docs/locale/ru_RU/source/peers/peers.diagram.9.png
  docs/locale/ru_RU/source/peers/peers.md
Labels: ru-docs-ongoing

#337 [ja_JP] Translate "developapps/transactionhandler"
  docs/locale/ja_JP/source/developapps/transactionhandler.md
Labels: jaJP-docs-ongoing
