Repository hyperledger/fabric-docs-i18n, changes with the owners that CODEOWNERS names for each.
All owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-i18n, @hyperledger/fabric-ar-doc-maintainers, @hyperledger/fabric-es-doc-maintainers, @hyperledger/fabric-fa_IR-doc-maintainers, @hyperledger/fabric-fr_FR-doc-maintainers, @hyperledger/fabric-it_IT-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers, @hyperledger/fabric-ko_KR-doc-maintainers, @hyperledger/fabric-ml_IN-doc-maintainers, @hyperledger/fabric-pt_BR-doc-maintainers, @hyperledger/fabric-ru_RU-doc-maintainers, @hyperledger/fabric-ta_IN-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers, @hyperledger/fabric-vi_VN-doc-maintainers, @hyperledger/fabric-id_ID-doc-maintainers

replace Chinese marks with English.
  docs/locale/zh_CN/source/idemix.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

finish proofreading for test_network.md. Changes to be committed: modified: docs/locale/zh_CN/source/test_network.md
  docs/locale/zh_CN/source/test_network.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Update couchdb_tutorial.rst
  docs/locale/zh_CN/source/couchdb_tutorial.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Update couchdb_tutorial.rst
  docs/locale/zh_CN/source/couchdb_tutorial.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

discover-cli
  docs/locale/zh_CN/source/discovery-cli.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Update couchdb_tutorial.rst
  docs/locale/zh_CN/source/couchdb_tutorial.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Apply suggestions from code review
  docs/locale/zh_CN/source/couchdb_tutorial.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Update couchdb_tutorial.rst
  docs/locale/zh_CN/source/couchdb_tutorial.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

translate write_first_app.rst
  docs/locale/zh_CN/source/write_first_app.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

WIP: This is a dummy commit to test RTD
  README.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-i18n

discover-cli
  docs/locale/zh_CN/source/discovery-cli.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Read and Verify idemix.rst
  docs/locale/zh_CN/source/idemix.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

translate write_first_app.rst
  docs/locale/zh_CN/source/write_first_app.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

replace Chinese marks with English.
  docs/locale/zh_CN/source/idemix.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Importing zh-CN
  docs/locale/zh_CN/source/CONTRIBUTING.rst
  docs/locale/zh_CN/source/_templates/layout.html
  docs/locale/zh_CN/source/advice_for_writers.md
  docs/locale/zh_CN/source/chaincode_lifecycle.md
  docs/locale/zh_CN/source/commands/ledgerutil.md
  docs/locale/zh_CN/source/couchdb_tutorial.rst
  docs/locale/zh_CN/source/deploy_chaincode.md
  docs/locale/zh_CN/source/deploypeer/peerchecklist.md
  docs/locale/zh_CN/source/discovery-overview.rst
  docs/locale/zh_CN/source/docs_guide.md
  docs/locale/zh_CN/source/fabric_model.rst
  docs/locale/zh_CN/source/gateway.md
  docs/locale/zh_CN/source/getting_started_run_fabric.rst
  docs/locale/zh_CN/source/install.rst
  docs/locale/zh_CN/source/international_languages.md
  docs/locale/zh_CN/source/ledger/ledger.md
  docs/locale/zh_CN/source/network/network.md
  docs/locale/zh_CN/source/orderer/ordering_service.md
  docs/locale/zh_CN/source/peer-chaincode-devmode.md
  docs/locale/zh_CN/source/private_data_tutorial.rst
  docs/locale/zh_CN/source/questions.rst
  docs/locale/zh_CN/source/sdk_chaincode.md
  docs/locale/zh_CN/source/secured_asset_transfer/secured_private_asset_transfer_tutorial.md
  docs/locale/zh_CN/source/style_guide.md
  docs/locale/zh_CN/source/test_network.md
  docs/locale/zh_CN/wrappers/ledgerutil_postscript.md
  docs/locale/zh_CN/wrappers/ledgerutil_preamble.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

[ja_JP] Translate "advice_for_writers.md" into Japanese
  docs/locale/ja_JP/source/advice_for_writers.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

fixing mismtaching images and few translation proof reading
  docs/locale/zh_CN/source/network/network.diagram.1.png
  docs/locale/zh_CN/source/network/network.diagram.10.png
  docs/locale/zh_CN/source/network/network.diagram.11.png
  docs/locale/zh_CN/source/network/network.diagram.12.png
  docs/locale/zh_CN/source/network/network.diagram.14.png
  docs/locale/zh_CN/source/network/network.diagram.15.png
  docs/locale/zh_CN/source/network/network.diagram.2.1.png
  docs/locale/zh_CN/source/network/network.diagram.2.png
  docs/locale/zh_CN/source/network/network.diagram.3.png
  docs/locale/zh_CN/source/network/network.diagram.4.png
  docs/locale/zh_CN/source/network/network.diagram.5.png
  docs/locale/zh_CN/source/network/network.diagram.6.png
  docs/locale/zh_CN/source/network/network.diagram.7.png
  docs/locale/zh_CN/source/network/network.diagram.8.png
  docs/locale/zh_CN/source/network/network.diagram.9.png
  docs/locale/zh_CN/source/network/network.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

fixing mismtaching images and few translation proof reading (#923)
  docs/locale/zh_CN/source/network/network.diagram.1.png
  docs/locale/zh_CN/source/network/network.diagram.10.png
  docs/locale/zh_CN/source/network/network.diagram.11.png
  docs/locale/zh_CN/source/network/network.diagram.12.png
  docs/locale/zh_CN/source/network/network.diagram.14.png
  docs/locale/zh_CN/source/network/network.diagram.15.png
  docs/locale/zh_CN/source/network/network.diagram.2.1.png
  docs/locale/zh_CN/source/network/network.diagram.2.png
  docs/locale/zh_CN/source/network/network.diagram.3.png
  docs/locale/zh_CN/source/network/network.diagram.4.png
  docs/locale/zh_CN/source/network/network.diagram.5.png
  docs/locale/zh_CN/source/network/network.diagram.6.png
  docs/locale/zh_CN/source/network/network.diagram.7.png
  docs/locale/zh_CN/source/network/network.diagram.8.png
  docs/locale/zh_CN/source/network/network.diagram.9.png
  docs/locale/zh_CN/source/network/network.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

Tradução da página whatsnew para o Português
  docs/locale/pt_BR/source/whatsnew.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-pt_BR-doc-maintainers

change identity.md for better understanding
  docs/locale/zh_CN/source/identity/identity.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

[ja_JP] Translate readwrite.rst into Japanese
  docs/locale/ja_JP/source/readwrite.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0

# Fabric Docs i18n Maintainers
*                   @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-i18n
/docs/locale/*/     @hyperledger/fabric-i18n
/docs/locale/ar/    @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ar-doc-maintainers
/docs/locale/es/    @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-es-doc-maintainers
/docs/locale/fa_IR/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-fa_IR-doc-maintainers
/docs/locale/fr_FR/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-fr_FR-doc-maintainers
/docs/locale/it_IT/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-it_IT-doc-maintainers
/docs/locale/ja_JP/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ja_JP-doc-maintainers
/docs/locale/ko_KR/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ko_KR-doc-maintainers
/docs/locale/ml_IN/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ml_IN-doc-maintainers
/docs/locale/pt_BR/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-pt_BR-doc-maintainers
/docs/locale/ru_RU/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ru_RU-doc-maintainers
/docs/locale/ta_IN/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ta_IN-doc-maintainers
/docs/locale/zh_CN/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-zh_CN-doc-maintainers
/docs/locale/vi_VN/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-vi_VN-doc-maintainers
/docs/locale/id_ID/ @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-id_ID-doc-maintainers
