Repository hyperledger/fabric-docs-i18n, changes with the owners that CODEOWNERS names for each.
All owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-es-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers, @hyperledger/fabric-ml_IN-doc-maintainers, @hyperledger/fabric-pt_BR-doc-maintainers, @hyperledger/fabric-ru_RU-doc-maintainers, @hyperledger/fabric-tl_IN-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

修改fabric model格式，翻译test network
  docs/locale/zh_CN/source/fabric_model.rst
  docs/locale/zh_CN/source/test_network.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

modify test network terminology fix typo in network translate note in prereqs
  docs/locale/zh_CN/source/network/network.md
  docs/locale/zh_CN/source/prereqs.rst
  docs/locale/zh_CN/source/test_network.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

[ja_JP] Key Concepts >> Hyperledger Fabric Model
  docs/locale/ja_JP/source/fabric_model.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

Translate index.rst
  docs/locale/zh_CN/source/index.rst
  docs/locale/zh_CN/source/install.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

[ja_JP] Key Concepts >> Hyperledger Fabric Model
  docs/locale/ja_JP/source/fabric_model.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

Translate index.rst
  docs/locale/zh_CN/source/index.rst
  docs/locale/zh_CN/source/install.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

[zh_cn]Update test_network.md (#193)
  docs/locale/zh_CN/source/fabric_model.rst
  docs/locale/zh_CN/source/network/network.md
  docs/locale/zh_CN/source/prereqs.rst
  docs/locale/zh_CN/source/test_network.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-zh_CN-doc-maintainers

[ja_JP] Translate "Smart Contracts and Chaincode"
  docs/locale/ja_JP/source/smartcontract/smartcontract.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP]Update "CONTRIBUTING.rst"(#47) This patch translates CONTRIBUTING.rst into japanese issue #47
  docs/locale/ja_JP/source/CONTRIBUTING.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP]Update "CONTRIBUTING.rst"(#47) This patch translates CONTRIBUTING.rst into japanese issue #47
  docs/locale/ja_JP/source/CONTRIBUTING.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate source/prereqs.rst into Japanese
  docs/locale/ja_JP/source/prereqs.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate "Key Concepts > Ledger"
  docs/locale/ja_JP/source/ledger/ledger.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate source/install.rst into Japanese
  docs/locale/ja_JP/source/install.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate source/prereqs.rst into Japanese
  docs/locale/ja_JP/source/prereqs.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

Test commit for translation workshop
  docs/locale/es/source/network/network.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-es-doc-maintainers

[ja_JP] Translate "Key Concepts > Ledger"
  docs/locale/ja_JP/source/ledger/ledger.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate source/install.rst into Japanese
  docs/locale/ja_JP/source/install.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

Use Cases Translation
  docs/locale/es/source/usecases.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-es-doc-maintainers

Use Cases Translation Revised
  docs/locale/es/source/usecases.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-es-doc-maintainers

Use Cases Translation Revised
  docs/locale/es/source/usecases.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-es-doc-maintainers

Use Cases Translation
  docs/locale/es/source/usecases.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-es-doc-maintainers

Tutorials Translation
  docs/locale/es/source/tutorials.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-es-doc-maintainers

[ja_JP] Translate "Developing Applications"
  docs/locale/ja_JP/source/developapps/developing_applications.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate "Scenario"
  docs/locale/ja_JP/source/developapps/scenario.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate "Developing Applications"
  docs/locale/ja_JP/source/developapps/developing_applications.rst
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

[ja_JP] Translate "Scenario"
  docs/locale/ja_JP/source/developapps/scenario.md
Owners: @hyperledger/fabric-core-maintainers, @hyperledger/fabric-core-doc-maintainers, @hyperledger/fabric-ja_JP-doc-maintainers

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0

# Fabric Docs i18n Maintainers
*                   @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers
/docs/locale/es/    @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-es-doc-maintainers
/docs/locale/ja_JP/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ja_JP-doc-maintainers
/docs/locale/ml_IN/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ml_IN-doc-maintainers
/docs/locale/pt_BR/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-pt_BR-doc-maintainers
/docs/locale/ru_RU/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ru_RU-doc-maintainers
/docs/locale/tl_IN/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-tl_IN-doc-maintainers
/docs/locale/zh_CN/ @hyperledger/fabric-core-maintainers @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-zh_CN-doc-maintainers
